button .material-icons{
  margin-top: 7px;
}

.p1 img{
  height: 50% !important;
}
md-card{
  overflow: scroll;
}

.page-title {
    
    width:100%;
    font-family: cursive;
    text-align: center;
       font-size: 40px;
}

md-toolbar + div.filters {
    
    float:right;
}

div.md-toolbar-tools {
    
      background-color: #fafafa !important; 
        color: #343434;
    text-align: center;
}

div.classified-info h2 { color:#f17b31;}

md-content {       background:url('../images/black_bg.jpg') !important; }

div.classified-contect h2 {     font-size: 14px; font-weight: normal; }
div.classified-info {  text-align: center;}
